asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
django-environ==0.11.2
django-modeltranslation==0.19.10
django-rosetta==0.10.1
django-versatileimagefield==3.1
djangorestframework==3.15.2
idna==3.10
pillow==11.0.0
polib==1.2.0
psycopg2-binary==2.9.9
python-magic==0.4.27
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
urllib3==2.2.3
wheel==0.44.0
