<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.name }} Products</title>

</head>
<body>
    <h1>Products in {{ category.name }}</h1>

    <h2>Statistics</h2>
    <ul>
        <li><strong>Most Expensive Product:</strong>
            {% if statistics.most_expensive_product %}
                {{ statistics.most_expensive_product.name }} - ${{ statistics.most_expensive_product.price|floatformat:2 }}
            {% else %}
                N/A
            {% endif %}
        </li>
        <li><strong>Cheapest Product:</strong>
            {% if statistics.cheapest_product %}
                {{ statistics.cheapest_product.name }} - ${{ statistics.cheapest_product.price|floatformat:2 }}
            {% else %}
                N/A
            {% endif %}
        </li>
        <li><strong>Average Price:</strong> ${{ statistics.average_price|floatformat:2 }}</li>
        <li><strong>Total Value of All Products:</strong> ${{ statistics.total_value|floatformat:2 }}</li>
    </ul>

    <h2>Products List</h2>
    <ul>
        {% for detail in page_obj %}
            <li>
            <a href="{% url 'product_detail' detail.product.id %}">{{ detail.product.name }}</a> - Total Cost in Stock: ${{ detail.total_cost|floatformat:2 }}
            </li>
        {% empty %}
            <li>No products available in this category.</li>
        {% endfor %}
    </ul>

     <div>
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span> | </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
</body>
</html>